*.cmake
*.ctu-info
*.dump
*.log
*.o
*.gch
.cache
CMakeCache.txt
CMakeFiles
checker-out
clangsema-out
compile_commands.json
filtered_compile_commands.json
infer_filtered_compile_commands.json
libtest.a
libtooling-out*
*/libtooling/*.INFO*
*/libtooling/*.ERROR*
*/libtooling/*.WARNING*
